$white: #FFFFFF;
$green-light: #EAF0ED;
$green-middle: #8DA291;
$green-dark: #3F5D45;
$yellow: #FFE180;

$font-small: 20px;
$font-middle: 24px;
$font-large: 36px;

$font-weight-s: 300;
$font-weight-m: 500;
$font-weight-l: 600;